<!DOCTYPE html>
<html lang="en">
<head>
    <title>MİN RESTORAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Site/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Site/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Site/css/animate.css">

    <link rel="stylesheet" href="/Content/Site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/Site/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/Site/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/Site/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Content/Site/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/Content/Site/css/icomoon.css">
    <link rel="stylesheet" href="/Content/Site/css/style.css">
</head>
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
        <div class="container">
            <a class="navbar-brand" href=@Url.Action("Index","Home") >MİN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menü
            </button>
            <div class="collapse navbar-collapse" id="site-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href=@Url.Action("Index","Home") class="nav-link">ANASAYFA</a></li>
                    <li class="nav-item"><a href=@Url.Action("Index","Menu") class="nav-link">MENÜ</a></li>
                    <li class="nav-item"><a href=@Url.Action("Index","Gallery") class="nav-link">GALERİ</a></li>
                    <li class="nav-item"><a href=@Url.Action("Index","Reservation") class="nav-link">REZERVASYON</a></li>
                    <li class="nav-item"><a href=@Url.Action("Create","Login") class="nav-link">KULLANICI GİRİŞ</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    @RenderBody()


    <!-- FOOTER---------------------------------------------------------------------------------------------------- -->
    <footer class="site-footer site-bg-dark site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 site-animate">
                            <h2 class="site-heading-2">About Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, delectus blanditiis odit expedita amet. Sed labore ipsum vel dolore, quis, culpa et magni autem sequi facere eos tenetur, ex?</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">The Restaurant</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">About Us</a></li>
                                    <li><a href="#" class="py-2 d-block">Chefs</a></li>
                                    <li><a href="#" class="py-2 d-block">Events</a></li>
                                    <li><a href="#" class="py-2 d-block">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">Useful links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">Foods</a></li>
                                    <li><a href="#" class="py-2 d-block">Drinks</a></li>
                                    <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                                    <li><a href="#" class="py-2 d-block">Brunch</a></li>
                                    <li><a href="#" class="py-2 d-block">Dinner</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">Useful links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">Yiyecekler</a></li>
                                    <li><a href="#" class="py-2 d-block">İçecekler</a></li>
                                    <li><a href="#" class="py-2 d-block">Kahvaltı</a></li>
                                    <li><a href="#" class="py-2 d-block">Tatlılar</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row site-animate">
                <div class="col-md-12 text-center">
                    <div class="site-footer-widget mb-4">
                        <ul class="site-footer-social list-unstyled ">
                            <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                       
                        <script>document.write(new Date().getFullYear());</script> <i class="icon-heart" aria-hidden="true"></i> <a href="#"tps target="_blank">MİN RESTORAN</a>
                       
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="site-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="/Content/Site/js/jquery.min.js"></script>
    <script src="~/Content/Site/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/Site/js/popper.min.js"></script>
    <script src="/Content/Site/js/bootstrap.min.js"></script>
    <script src="/Content/Site/js/jquery.easing.1.3.js"></script>
    <script src="/Content/Site/js/jquery.waypoints.min.js"></script>
    <script src="/Content/Site/js/owl.carousel.min.js"></script>
    <script src="/Content/Site/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/Site/js/bootstrap-datepicker.js"></script>
    <script src="/Content/Site/js/jquery.timepicker.min.js"></script>

    <script src="/Content/Site/js/jquery.animateNumber.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/Content/Site/js/google-map.js"></script>
    <script src="/Content/Site/js/main.js"></script>

</body>
</html>